.listings-grid__body>h5 {
    text-overflow: unset;
    white-space: inherit;
}

.listings-grid__body>small {
    font-size: 17px;
}

.listings-grid__body>p{
    color: #2e353b;
}

.respond-btn {
    position: absolute;
    right: 0;
    top: 16px;
}

.media-body {
    position: relative;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background: none;
}

.listings-grid__item:hover {
    background: none;
}